<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279237859010-q4212q4khudc1aoaof21o7v3g2a94mlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279237859010-q4212q4khudc1aoaof21o7v3g2a94mlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAcWY5aGXfXLrsx5puYxC4XhQomrwJhhFw</string>
	<key>GCM_SENDER_ID</key>
	<string>279237859010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hamsa.lomi</string>
	<key>PROJECT_ID</key>
	<string>hamsa-lomi</string>
	<key>STORAGE_BUCKET</key>
	<string>hamsa-lomi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:279237859010:ios:a28eef5e7c3417dec8cd5b</string>
</dict>
</plist>
